! This is the global resources file that is loaded when
! all users log in, as well as for the login screen

! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
Xft.dpi: 96

! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
Xft.hintstyle: hintmedium
Xft.hinting: true

URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext-common: tabbed
URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: 4
URxvt.tabbed.tab-fg:    4
URxvt.tabbed.tab-bg:   7

URxvt*foreground:   #d5d5d5
URxvt*background:   #0A0F14
URxvt*cursorColor:  #d5d5d5

URxvt*color0:       #0A0F14
URxvt*color8:       #666666

URxvt*color1:       #c33027
URxvt*color9:       #ff0000

URxvt*color2:       #26a98b
URxvt*color10:      #00D802

URxvt*color3:       #FDCBB0
URxvt*color11:      #CECC11

URxvt*color4:       #0A0F14
URxvt*color12:      #455566

URxvt*color5:       #1300FE
URxvt*color13:      #888ba5

URxvt*color6:       #73B6C9
URxvt*color14:      #10D1E4

URxvt*color7:       #c5c5c5
URxvt*color15:      #ffffff